# vim:set et sw=2 ts=2 tw=79 ft=conf:

# Wheneve running yarn add, use exactly latest version at the time, without the
# ~ or ^ prefix. This setting aim for reproducible build accross developer
# machines.
save-prefix ""
